@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 229, 229;
  --background-rgb: 0, 0, 0;
  --primary-color: #06b6d4;
  --highlight-color: #facc15;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #facc15;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease-out;
}

.slideInRight {
  animation: slideInRight 1s ease-out;
}
